@import "fonts/Roboto/roboto.scss";
@import "fonts/MaterialIcons/material-icons.css";

body {
  margin: 0;
  background: #f5f5f5;
  main > div {
    background: white;
    padding-top: 2rem;
  }
}

tr:hover {
  background-color: #6ffdff;
}

tr.open {
  background-color: #40b654;
  td {
    font-weight: bold;
    color: white;
  }
}